*.res
report*.xml
*.cryconf
*.cry.log
*.nouse
*.new
*.bandit
*.pyc
*.last
*.playconf
*.ediconf
*.gsvconf
.project
doc
.pydevproject
/.settings/org.eclipse.core.resources.prefs
.settings.json
.vscode
engine_logs_ttserver_pyt2
